{% extends 'core/base.html' %}
{% load static %}

{% block header %}
	<script src="{% static 'index.js' %}"></script>
{% endblock %}

{% block content %}
<div>
	<h1 class="text-center">Ultimate Dart APP</h1>
	<div class="row">
		<div class="col">
			<a class="btn btn-primary" href="{% url 'game-create' %}">Create Game</a>
		</div>
		<div class="col">History</div>
		<div class="col col-auto">
			<h2 class="text-center">Active Games</h2>
			<div class="toast-container p-3">
				{% for game in games %}
				<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
					<div class="toast-header">
						<strong class="me-auto">{{ game }} - Best of {{ game.best_of }}</strong>
						<small>{{ game.created_on }}</small>
						<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				  </div>
				  <div class="toast-body">
					  
					  <span>{% include 'core/score_board.html' %}</span>
					<a href="{% url "game" game.id %}">join</a>
				  </div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
